{% extends 'layout.html' %}

{% block body %}
<div class="playlist-container">
    <img class="playlist-img" src="{{ playlist.images[0].url }}">
    <h1 class="playlist-title">{{ playlist.name }}</h1>
    <div class="tracks-list">
        <ol>
            {% for track in playlist_details %}
            <li class="track">
                <p></p>
                <h3>{{ track.track.artists[0].name }} - {{ track.track.name }}</h3>
                <img onclick="downloadFile(event, '{{track.track.artists[0].name}}', '{{track.track.name}}')"
                    class="track-download-btn" src="../static/download-btn.png">
                <img class="converting" src="../static/converting-circle.png">
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}